/* bxyz written doc pls write eliot@bosmanxyz.xyz for queries and chats*/
/* <<bxyz bokmarke>> legacy stylesheet placeholder */


.flipbook {
  background: var(--color-third);
}

.artists {
  background: var(--color-fourth);
}

.products {
  background: var(--color-secondary);
}
